.user-info {
    width: 81%;
    float: right;
    padding: 0 32px;
    background-color: #fff;

    .title {
        font-size: 20px;
        color: #3d3d3d;
        height: 90px;
        line-height: 90px;
        border-bottom: 1px solid #e0e0e0;
    }

    .info {
        margin-top: 20px;
        overflow: hidden;

        .photo {
            float: left;

            img {
                border-radius: 50%;
            }

            a {
                margin-top: 10px;
                color: #666;
                display: block;
                text-align: center;

            }
        }

        .user {
            float: left;
            margin-left: 20px;

        }
    }
}