.user-fork {
    width: 81%;
    min-height: 550px;
    float: right;
    padding: 0 32px 30px;
    margin-bottom: 100px;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);

    .title {
        font-size: 20px;
        color: #3d3d3d;
        height: 90px;
        line-height: 90px;
        border-bottom: 1px solid #e0e0e0;
    }

}