.user-info {
    width: 81%;
    min-height: 550px;
    margin-bottom: 100px;
    float: right;
    padding: 0 32px;
    background-color: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);

    .title {
        font-size: 20px;
        color: #3d3d3d;
        height: 90px;
        line-height: 90px;
        border-bottom: 1px solid #e0e0e0;
    }

    .info {
        margin-top: 20px;
        overflow: hidden;

        .photo {
            float: left;

            a {
                margin-top: 10px;
                color: #666;
                display: block;
                text-align: center;

            }
        }

        .user {
            float: left;
            margin-left: 20px;

            .edit-info {
                position: absolute;
                right: 35px;
            }
        }
    }
}

.avatar-uploader>.ant-upload {
    width: 128px;
    height: 128px;
}